.uv-iiif-extension-host.uv-av-extension {

  .mobileFooterPanel {
    float: right;
    width: 90px;
    margin-top: -38px;
    height: 5px;

    .options {
      width: 100%;

      .left-options {
        min-width: 30px;
      }

      .btn {
        &.moreInfo {
          display: none;
        }

        &.download {
          display: block;
          float: left;
        }

        &.share {
          display: block;
          float: left;
        }
      }
    }
  }
}
