[submodule "examples"]
	path = examples
	url = git@github.com:UniversalViewer/examples.git
[submodule "tests"]
	path = tests
	url = git@github.com:UniversalViewer/tests.git
[submodule "src/themes/en-GB-theme"]
	path = src/themes/en-GB-theme
	url = git@github.com:UniversalViewer/en-GB-theme.git
[submodule "src/themes/cy-GB-theme"]
	path = src/themes/cy-GB-theme
	url = git@github.com:UniversalViewer/cy-GB-theme.git
