[submodule "examples"]
	path = examples
	url = git@github.com:britishlibrary/UniversalViewerExamples.git
[submodule "src/themes/coreplayer-default-theme"]
	path = src/themes/coreplayer-default-theme
	url = git@github.com:britishlibrary/UniversalViewerDefaultTheme.git
[submodule "tests"]
	path = tests
	url = git@github.com:britishlibrary/UniversalViewerTests.git