
#app{

    .leftPanel{

        @img-path: '../../../modules/coreplayer-treeviewleftpanel-module/img/';

        .top{

            .title{
                background: url('@{img-path}contents.png') no-repeat;
                width: 78px;
            }
        }

        .closed{

            .title{
                background: url('@{img-path}contents_v.png') no-repeat;
                height: 78px;
            }
        }

        .tabs{
            height: 25px;
            border-bottom: 1px solid @panel-border-color;

            .tab{
                color: @brand-secondary;
                height: 24px;
                display: inline-block;
                text-align: center;
                line-height: 24px;
                overflow: hidden;
                width: 75px;
                margin: 0;
                cursor: pointer;

                &.first{
                    margin: 0 0 0 @margin-medium-horizontal;
                }

                &.on{
                    border: 1px solid @panel-border-color;
                    border-bottom: 1px solid @panel-dark-bg;
                    color: @text-color;
                }
            }
        }

        .tabsContent{
            padding: @padding-medium;
        }

        .views{

            .treeView{
                overflow: auto;
                color: @text-color;
                font-weight: normal;

                .toggle {
                    cursor: pointer;
                    margin-right: @margin-small-horizontal;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    background-image: url('@{img-path}plus.png');

                    &.expanded {
                        background-image: url('@{img-path}minus.png');
                    }
                }

                .spacer {
                    margin-right: @margin-small-horizontal;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                }

                ul.tree, ul.tree ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                ul.tree ul {
                    margin-left: @margin-large-horizontal;
                }

                ul.tree li {
                    margin: 0;
                    padding: 2px 0 2px 0;
                }

                ul a.selected {
                    color: @brand-secondary;
                }
            }

            .thumbsView{

                overflow: auto;

                .thumb{
                    margin: 0 @margin-medium-horizontal @margin-medium-vertical 0;
                    float: left;
                    cursor: pointer;

                    .wrap{
                        border: 1px solid @panel-border-color; // was #525252
                        padding: 2px;
                        max-height: 150px;
                        overflow: hidden;
                        min-width: 90px;
                        text-align: center;

                        &.loading{
                            .loading(@loader-black-bg);
                        }

                        &.hidden{
                            background: url('@{img-path}hidden_thumb.png') no-repeat 50% 50%;
                        }

                        img{
                            margin: 0 auto;
                        }
                    }

                    &.selected{

                        .wrap{
                            border: 1px solid @brand-secondary;
                        }
                    }

                    span{
                        font-size: @font-size-small;
                        color: #fff;
                        display: block;
                        padding: 2px 0 0 0;
                    }
                }

                .separator{
                    height: 1px;
                    clear: both;
                    border: none;
                }
            }
        }


    }
}


#app.application-pdf{

    .leftPanel{

        .thumbsView{

            .thumb{

                .wrap{
                    border: none;
                    img{
                        width: 90px;
                    }
                }

                &.selected{

                    .wrap{
                        border: none;
                    }
                }
            }
        }
    }
}
