.uv .centerPanel .content {
	.mejs__time {
		height: 25px;
	}

	.attribution {
		z-index: 100;
	}

	.mejs__button > button:focus {
		outline: 2px solid Highlight;
		outline-offset: 2px;
	}
}

.uv .overlays {
	z-index: 101 !important;
}
