.uv {

    .centerPanel {

        @img-path: '../../../modules/uv-pdfcenterpanel-module/img/';

        .content {

            position: relative;

            .pdfContainer {
                overflow: auto;
                text-align: center;
            }

            .spinner {
                position: absolute;
                background: fadeout(#000, 10%);
                width: 34px;
                height: 34px;
                border-radius: 34px;

                .loading(@loader-black-bg);
            }

            button {
                color: #fff;
            }
            
            // canvas {
            //     position: absolute;
            // }

            .container {
                margin: 0 20px 0 20px;
            }

            .btn {

                position: absolute !important;
                width: 30px;
                height: 90px;
                background-repeat: no-repeat;
                background-color: @body-bg;
                background-position: 0px 50%;
                cursor: pointer;
                padding: 0px;
                border: none;
                border-radius: 0px;

                &.zoomIn{
                    cursor: pointer !important;
                    background-image: data-uri('@{img-path}zoom_in.png') !important;
                    width: 28px;
                    height: 28px;
                    margin: 3px !important;
                    top: 0px;
                    left: 0px;
                    img {
                        display: none;
                    }
                    &:focus {
                      .tab-focus();
                    }
                }

                &.zoomOut{
                    cursor: pointer !important;
                    background-image: data-uri('@{img-path}zoom_out.png') !important;
                    width: 28px;
                    height: 28px;
                    margin: 3px !important;
                    top: 0px;
                    left: 32px;
                    img {
                        display: none;
                    }
                    &:focus {
                      .tab-focus();
                    }
                }

                &.prev {
                    margin-left: 5px;
                    background-image: data-uri('@{img-path}left_arrow.png');
                    &.disabled {
                        background-image: data-uri('@{img-path}left_arrow_disabled.png');
                    }
                }

                &.next {
                    margin-right: 20px;
                    background-image: data-uri('@{img-path}right_arrow.png');
                    &.disabled {
                        background-image: data-uri('@{img-path}right_arrow_disabled.png');
                    }
                }
            }
        }
    }
}