.uv {

    .centerPanel {

        .content {

            position: relative;

            .spinner {
                position: absolute;
                background: fadeout(#000, 10%);
                width: 34px;
                height: 34px;
                border-radius: 34px;

                .loading(@loader-black-bg);
            }

            button {
                color: #fff;
            }
            
            canvas {
                position: absolute;
            }

            .container {
                margin: 0 20px 0 20px;
            }

            #pdfContainer {
                overflow: auto;
            }
        }
    }
}