@import "icons";

.uv {
  .headerPanel {
    color: @text-secondary-color;

        .pager-container {
            display: flex;
            transition: max-width 0.15s ease-out, opacity 0.1s ease-out;
            opacity: 0;
          }
          
          .pager-container.avisible {
            opacity: 1;
          }
          
          /* Prevent content wrapping */
          .pager-container > * {
            white-space: nowrap;
          }

        .pager {
            display: flex;                /* Use flexbox to arrange elements in a row */
            justify-content: space-between; /* Distribute space evenly between the elements */
            align-items: center;          /* Vertically center the items */
            height: 30px;                 /* Set the height of the parent container */
        }
        
        .search-form {
            display: flex;
            align-items: center;         /* Vertically center the form elements */
            height: 100%;                 /* Ensure the form takes up the full height of the parent */
            margin: 0;                   /* Remove any default margin from the form */
            position: relative; /* To position the autocomplete dropdown relative to the form */
        }
        
        .search-input-container {
            display: flex;
            align-items: center;
            height: 100%; 
            margin-right: 8px;
            margin-left: 8px;
            position: relative; 
        }

        .search-input {
            padding: 0 4px;
            border: 1px solid @gray;
            border-radius: 0;     
            outline: none;        
            caret-color: white;
            z-index: 10; /* Ensures the input is above the dropdown */
            text-align: right;
            background-color: rgba(28,27,34,255);
        }

.autocomplete-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(28,27,34,255);
    border-radius: 0;
    max-height: 150px;
    overflow-y: auto; 
    z-index: 100;
    margin-top: 0px;
    padding: 0;
    list-style: none;
}

.autocomplete-dropdown li {
    padding: 4px 7px; 
    cursor: pointer;
}

.autocomplete-dropdown li:hover {
    background-color: @gray; 
}

.focused-option {
    background-color: @gray; 
}

.total-label {
    margin-left: 4px;
}


        }

        // button.btn.imageBtn {
        //     padding-left: 2px;
        //     padding-right: 2px;

        //     &.first,
        //     &.prev,
        //     &.next,
        //     &.last {
        //         i {
        //             background-color: @gray;
        //             &:hover {
        //                 background-color: @gray-dark;
        //             }
        //         }
        //     }

        //     &.disabled,
        //     &.disabled:hover,
        //     &.disabled i,
        //     &.disabled i:hover {
        //         background-color: transparent;
        //     }
        // }

        // .centerOptions {

        //     .image-selectionbox-options {
        //         float: left;
        //         margin: 0 0 0 0;
        //     }

        //     .image-selectionbox {
        //         height: 30px;
        //     }

        //     .prevOptions {
        //         float: left;
        //         margin: 0 15px 0 0;
        //     }

        //     .mode {
        //         float: left;
        //         margin: 12px 0 0 0;
        //     }

        //     .search {
        //         float: left;
        //         margin: 6px 0 0 5px;
        //         width: auto;

        //         .searchText {
        //             border: none;
        //             padding: 0 0 0 2px;
        //         }
        //     }

        //     .nextOptions {
        //         float: left;
        //         margin: 0 0 0 15px;
        //     }

        //     .mode {

        //         input {
        //             float: left;
        //         }

        //         label {
        //             clear: none;
        //             width: auto;
        //             margin: 0 0 0 0;
        //             padding: 0;
        //             float: left;
        //             font-size: @font-size-small;
        //             line-height: 18px;
        //             text-align: right;

        //             &.disabled {
        //                 color: @disabled;
        //             }
        //         }
        //     }

        //     &.modeOptionsDisabled {
        //         width: 280px;
        //     }

        //     .autocompleteText {
        //         width: 30px;
        //         height: 19px;
        //         line-height: 19px;
        //         float: left;
        //         font-size: @font-size-small;
        //         padding-inline: 2px;
        //         padding-block: 0;
        //         margin-top: 6px;
        //         color: black;
        //         background-color: white;
        //         border: none;
        //     }

        //     .autocomplete {
        //         position: absolute;
        //         background: #fff;
        //         width: 60px;
        //         border: 2px solid @brand-primary-lighter;
        //         list-style-type: none;
        //         -webkit-margin-before: 0px;
        //         -webkit-margin-after: 0px;
        //         -webkit-margin-start: 0px;
        //         -webkit-margin-end: 0px;
        //         -webkit-padding-start: 0px;
        //         margin: 0;
        //         padding: 0;
        //         max-height: 150px;
        //         overflow-y: auto;
        //         overflow-x: hidden;
        //         z-index: 1000;

        //         .result {
        //             padding: 4px;
        //             width: 270px;
        //             overflow: hidden;

        //             &.loading {
        //                 background-image: data-uri(@loader-white-bg);
        //                 background-repeat: no-repeat;
        //                 background-position: 4px 4px;
        //                 height: 25px;
        //             }

        //             &.selected {
        //                 background: @gray-lighter;
        //             }
        //         }
        //     }
        // }

    .rightOptions {
      .pagingToggleButtons {
        float: left;
        .one-up {
          .opacity(1);
          &.on {
            .opacity(0.75);
          }
        }
        .two-up {
          .opacity(1);
          &.on {
            .opacity(0.75);
          }
        }
      }
      .gallery {
        .opacity(1);
        &.on {
          .opacity(0.75);
        }
      }
      .localeToggle {
        .link-color-decoration(#fff, none);
        font-size: @font-size-large;
        float: left;
        margin: 4px 8px;
        cursor: pointer;
      }
    }

        // .searchText {
        //     width: 30px;
        //     height: 19px;
        //     line-height: 19px;
        //     float: left;
        //     font-size: @font-size-small;
        //     padding: 0;
        //     margin-top: 6px;
        // }

        // .total {
        //     float: left;
        //     display: block;
        //     height: 18px;
        //     line-height: 18px;
        //     margin: 6px 5px 0 5px;
        //     width: 41px;
        //     font-size: @font-size-small;
        //     overflow: hidden;
        // }
    }

