{
    "options":
    {
        "leftPanelEnabled": true
    },
    "modules":
    {
        "genericDialogue":
        {
            "content":
            {
                "ok": "OK"
            }
        },
        "helpDialogue":
        {
            "content":
            {
                "title": "Help",
                "text": "pLaceholder text"
            }
        },
        "embedDialogue":
        {
            "options":
            {
                "embedTemplate": "<div class=\"wellcomePlayer\" data-uri=\"{0}\" data-assetsequenceindex=\"{1}\" data-config=\"{2}\" style=\"width:{3}px; height:{4}px; background-color: #000\"></div>\n<script type=\"text/javascript\" id=\"embedWellcomePlayer\" src=\"{5}\"></script><script type=\"text/javascript\">/* wordpress fix */</script>"
            },
            "content":
            {
                "title": "Embed",
                "instructions": "To embed this item in your own website, copy and paste the code below:"
            }
        },
        "headerPanel":
        {
            "content":
            {
                "help": "Help",
                "close": "Close"
            }
        },
        "treeViewLeftPanel": {
            "options": {
                "panelCollapsedWidth": 30,
                "panelExpandedWidth": 255,
                "panelOpen": false,
                "panelAnimationDuration": 250,
                "thumbsEnabled": false
            }
        },
        "mediaelementCenterPanel":
        {
            "content":
            {

            }
        },
        "moreInfoRightPanel":
        {
            "options":
            {
                "panelCollapsedWidth": 30,
                "panelExpandedWidth": 255,
                "panelAnimationDuration": 250
            },
            "content":
            {
                "holdingText": "Your module goes here!"
            }

        },
        "footerPanel":
        {
            "content":
            {
                "fullScreen": "Full Screen",
                "exitFullScreen": "Exit Full Screen",
                "embed": "Embed"
            }
        }
    }
}