@import 'variables';
@import 'mixins';
@import 'mixins-extended';
@import 'icons';
@import 'scaffolding';
@import 'buttons';
@import 'range';
@import 'button-groups';
@import 'header-panel';
@import 'left-panel';
@import 'right-panel';
@import 'center-panel';
@import 'footer-panel';
@import 'overlays';
@import 'catch-all';
@import 'sm';
@import 'md';
@import 'lg';
@import 'xl';

:root {
    --uv-grid-left-width-open: 271px;
    --uv-grid-right-width-open: 271px;

    --uv-grid-left-width: 30px;
    --uv-grid-main-width: minmax(0, 1fr);
    --uv-grid-right-width: 30px;
}

.hidden {
    .hidden();
}

.uv {

    // background-color: @body-bg;
    position: relative;

    // Common styles
    .btn-default,
    .btn-primary,
    .btn-success,
    .btn-info,
    .btn-warning,
    .btn-danger {
        .border-radius(0);
    }

    // A button that should not have the browser default characteristics
    .imageBtn {
        background: 0 0;
        border: 0;
        cursor: pointer;
    }

    .action, a.action.black, input.action {
        display: inline-block;
        background-image: data-uri('../img/sprite.png');
        background-position-x: 0;
        background-position-y: -1000px;
        background-repeat: no-repeat;
        text-transform: none;
        padding: 0 0 0 16px;
        font-weight: bold;
    }

    #debug {
        display: none;
        position: fixed;
        z-index: 1000;

        #sm {
            display: none;
        }

        #md {
            display: none;
        }

        #lg {
            display: none;
        }

        #xl {
            display: none;
        }
    }

    #commsFrame {
        width: 1px;
        height: 1px;
        border: none;
        display: none;
    }

    .headerPanel {
        position: relative;
        color: #fff;
        height: 40px;
    }

    .mainPanel {
        position: relative;
        padding-top: @panel-margin;
        margin-right: @panel-margin;
        margin-bottom: 0px;
        margin-left: @panel-margin;
        background: @body-bg; // important, otherwise you see two spinners
    }

    .mainPanel {
        //background-color: red;

        margin: 0;
        padding: 0;
        overflow: hidden;

        .md-mediaquery({
            //background-color: lime;
            
            padding: 0.5rem;
            display: grid;
            grid-template-columns: 
                [left] var(--uv-grid-left-width) 
                [center] var(--uv-grid-main-width)
                [right] var(--uv-grid-right-width);
            grid-template-areas: "left center right";

            transition-property: grid-template-columns;
            transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
            transition-duration: calc(var(--uv-animation) * var(--uv-animation-duration));
        });
    }

    .mainPanel.leftPanelOpen {
        --uv-grid-left-width: var(--uv-grid-left-width-open);
    }

    .mainPanel.rightPanelOpen {
        --uv-grid-right-width: var(--uv-grid-right-width-open);
    }

    .mainPanel.leftPanelOpenFull {
        --uv-grid-left-width: 100%;
        --uv-grid-main-width: 0;
        --uv-grid-right-width: 0;

        transition-property: grid-template-columns;
        transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
        transition-duration: calc(var(--uv-animation) * var(--uv-animation-duration));
    }

    .centerPanel {
        position: absolute;
        overflow: hidden;
    }

    .centerPanel {
        width: 100%;
        left: auto;

        .md-mediaquery({
            z-index: 15;
            grid-area: center;
        });
    }

    .leftPanel {
        position: absolute;
        background: @panel-dark-bg;
        border: @panel-border;
    }

    .rightPanel {
        position: absolute;
        background: @panel-dark-bg;
        border: @panel-border;
    }

    .leftPanel, .rightPanel {
        overflow: hidden;
        z-index: 20;
        // display: none;
        
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
        transition-duration: calc(var(--uv-animation) * var(--uv-animation-duration));

        position: absolute;
        top: 3em;
        right: 0;
        bottom: 2em;
        left: 0;

        width: auto;
        height: auto /* !important */;

        .md-mediaquery({
            display: block /* !important */;
            position: relative;

            top: 0 /* !important */;
            right: 0 /* !important */;
            bottom: 0 /* !important */;
            left: 0 /* !important */;
        });

        .top {
            display: none;
        }
        .closed {
            display: block;
        }
        .main {
            display: none;
        }

        &.open {
            display: block;
        }

        &.open-finished {
            .top {
                display: block;
            }
            .closed {
                display: none;
            }
            .main {
                display: block;
            }
        }
    }

    .leftPanel {
        transform: translateX(calc(-100% + 30px));

        .md-mediaquery({
            grid-area: left;
            transform: none;
        });
    }

    .leftPanel.open {
        left: 0 /* !important */;
        right: 2em /* !important */;
        transform: none;

        .md-mediaquery({
            transition-property: none;
            left: initial /* !important */;
            right: initial /* !important */;
        });
    }

    .rightPanel {
        transform: translateX(calc(100% - 30px));
        
        .md-mediaquery({
            grid-area: right;
            transform: none;
        });
    }

    .rightPanel.open {
        right: 0 /* !important */;
        left: 2em /* !important */;
        transform: none;

        .md-mediaquery({
            transition-property: none;
            left: initial /* !important */;
            right: initial /* !important */;
            width: auto /* !important */;
        });
    }

    .footerPanel {
        position: relative;
        margin-top: 0;
        margin-right: @panel-margin;
        margin-bottom: 0px;
        margin-left: @panel-margin;
    }
}

@media print {
   .uv {

       .headerPanel {
           display: none;
       }

       .leftPanel {
           display: none;
       }

       .rightPanel {
           display: none;
       }

       .footerPanel {
           display: none;
       }

       .mobileFooterPanel {
            display: none;
        }
   }
}

