.uv {

    #debug {

        #xl {
            .xl-mediaquery({
                display: block !important;
                visibility: visible !important;
            });
        }
    }

    .headerPanel {
        .md-mediaquery({
            display: block;
            visibility: visible;
        });
    }

    .mainPanel {

        .leftPanel {
            .md-mediaquery({
                display: block;
                visibility: visible;
            });
        }

        .rightPanel {
            .md-mediaquery({
                display: block;
                visibility: visible;
            });
        }
    }

    .footerPanel {
        .md-mediaquery({
            display: block;
            visibility: visible;
        });
    }

    .mobileFooterPanel {
        .md-mediaquery({
            display: none;
            visibility: hidden;
        });
    }
}
