@import "mobile";

.uv-iiif-extension-host.uv-openseadragon-extension {
  @search-result: @brand-secondary;

  .centerPanel {
    background-color: transparent;
    pointer-events: none;

    .content {
      position: relative;

      .paging.btn {
        position: absolute;
        width: 30px;
        height: 90px;
        background-repeat: no-repeat;
        background-color: rgba(26, 26, 26, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* Safari */
        background-position: 0 50%;
        cursor: pointer;
        padding: 0;
        border: none;
        z-index: 101;
        pointer-events: auto;
        box-shadow:
          0 2px 8px rgba(0, 0, 0, 0.15),
          0 8px 24px rgba(0, 0, 0, 0.2);

        &.vertical {
          height: 30px;
          width: 90px;
          background-position: 50% 0;
        }

        &.prev {
          background-image: data-uri("../img/left_arrow.png");
          left: @panel-margin;
          top: 50vh;
          transform: translateY(-50%);
          &.disabled {
            background-image: data-uri("../img/left_arrow_disabled.png");
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
          }
        }

        &.prev.vertical {
          background-image: data-uri("../img/up_arrow.png");
          left: 50%;
          top: @panel-margin;
          transform: translateX(-50%);
          &.disabled {
            background-image: data-uri("../img/up_arrow_disabled.png");
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
          }
          &.down {
            background-image: data-uri("../img/down_arrow.png");
            &.disabled {
              background-image: data-uri("../img/down_arrow_disabled.png");
              opacity: 0.5;
              cursor: not-allowed;
              pointer-events: none;
            }
          }
        }

        &.next {
          background-image: data-uri("../img/right_arrow.png");
          right: @panel-margin;
          top: 50%;
          transform: translateY(-50%);
          &.disabled {
            background-image: data-uri("../img/right_arrow_disabled.png");
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
          }

          & .uv-icon-next {
            background-image: none;
          }
        }

        &.next.vertical {
          background-image: data-uri("../img/down_arrow.png");
          left: 50%;
          bottom: @panel-margin;
          top: auto;
          transform: translateX(-50%);
          margin-left: 0;
          &.disabled {
            background-image: data-uri("../img/down_arrow_disabled.png");
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
          }
          &.up {
            background-image: data-uri("../img/up_arrow.png");
            &.disabled {
              background-image: data-uri("../img/up_arrow_disabled.png");
              opacity: 0.5;
              cursor: not-allowed;
              pointer-events: none;
            }
          }
        }
      }

      .controlsContainer {
        position: absolute;
        top: @panel-margin;
        left: @panel-margin;
        z-index: 100;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        pointer-events: auto;

        box-shadow:
          0 2px 8px rgba(0, 0, 0, 0.15),
          0 8px 24px rgba(0, 0, 0, 0.2);

        .md-mediaquery({
          display: flex;
        });

        .imageControlButton {
          color: white;
          width: 30px;
          height: 30px;

          background: rgba(26, 26, 26, 0.6);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px); /* Safari */

          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer !important;

          svg {
            display: block;
            width: 30px;
            height: 30px;
          }

          &:hover {
            color: #00fff2;
          }

          &:focus {
            .tab-focus();
          }
        }

        .goHome {
          // hide temporarily
          // display: none;
          align-items: center;
          justify-content: center;
          cursor: pointer !important;
          background-image: data-uri("../img/home.png") !important;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          img {
            display: none;
          }

          &:focus {
            .tab-focus();
          }
        }
      }

      #osd-navigator-container {
        position: absolute !important;
        bottom: 0;
        left: 10px;
        height: 100px;
        width: 100px;
        border: 2px solid rgb(85 85 85);
        background-color: black;
        box-shadow:
          0 2px 8px rgba(0, 0, 0, 0.15),
          0 8px 24px rgba(0, 0, 0, 0.2);
      }

      .pagingToggleButtons {
        position: absolute;
        bottom: 0;
        right: @panel-margin;
        display: none;
        transition: opacity 0.3s ease;
        pointer-events: auto;
        flex-direction: row;
        align-items: center;
        box-shadow:
          0 2px 8px rgba(0, 0, 0, 0.15),
          0 8px 24px rgba(0, 0, 0, 0.2);

        .md-mediaquery({
    display: flex;
  });

        button {
          cursor: pointer;
          padding: 0;
          color: white;
          width: 30px;
          height: 30px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 0;
          background: rgba(26, 26, 26, 0.6);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px); /* Safari */

          svg {
            display: block;
            width: 30px;
            height: 30px;
            transition: fill 0.3s ease;
          }

          &:hover {
            color: #00fff2;
          }

          &:focus {
            .tab-focus();
          }
        }

        &.fade-out {
          opacity: 0 !important;
        }
      }

      #osd-navigator-container-displayregion {
        border-color: #31cec6 !important;
      }

      // ui fading
      .controlsContainer,
      .pagingToggleButtons,
      .gallery,
      #osd-navigator-container,
      .paging.prev,
      .paging.next {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }

      .controlsContainer.fade-out,
      .pagingToggleButtons.fade-out,
      .gallery.fade-out,
      #osd-navigator-container.fade-out,
      .paging.prev.fade-out,
      .paging.next.fade-out {
        opacity: 0 !important;
      }
    }
  }

  .overlayPanels.resizing .centerPanel {
    .controlsContainer,
    .pagingToggleButtons,
    .gallery,
    #osd-navigator-container,
    .paging.prev,
    .paging.next {
      opacity: 0 !important;
      transition: none !important;
    }
  }
}
