body {
    margin: 0;
    padding: 0;
}

#content {
    position: relative;
    background: white;
}

.headerPanel {
    border: 1px solid black;
    height: 30px;
    position: absolute;
}

.mainPanel {
    border: 1px solid black;
    position: absolute;
}

.footerPanel {
    border: 1px solid black;
    height: 30px;
    position: absolute;
}