#app.seadragon .headerPanel a.imageButton{
    height: 30px;
    width: 30px;
    float: left;
}

#app.seadragon .headerPanel a.imageButton.first{
    background: url('../img/header/first.png') no-repeat;
    margin: 0 0 0 0;
}

#app.seadragon .headerPanel a.imageButton.prev{
    background: url('../img/header/prev.png') no-repeat;
    margin: 0 0 0 5px;
}

#app.seadragon .headerPanel a.imageButton.next{
    background: url('../img/header/next.png') no-repeat;
    margin: 0 5px 0 0;
}

#app.seadragon .headerPanel a.imageButton.last{
    background: url('../img/header/last.png') no-repeat;
    margin: 0 0 0 0;
}

#app.seadragon .headerPanel a.imageButton.go{
    background: url('../img/header/go.png') no-repeat;
    width: 28px;
}

#app.seadragon .headerPanel .centerOptions .prevOptions{
    float: left;
    margin: 0 15px 0 0;
}

#app.seadragon .headerPanel .centerOptions .mode{
    float: left;
    margin: 6px 0 0 0;
}

#app.seadragon .headerPanel .centerOptions .search{
    float: left;
    margin: 0 0 0 5px;
}

#app.seadragon .headerPanel .centerOptions .nextOptions{
    float: left;
    margin: 0 0 0 15px;
}

#app.seadragon .headerPanel .centerOptions .mode input{
    float: left;
}

#app.seadragon .headerPanel .centerOptions .mode label{
    clear: none;
    width: 30px;
    margin: 0 0 0 0;
    padding: 0;
    float: left;
    font-size: 11px;
    line-height: 18px;
    text-align: right;
}

#app.seadragon .headerPanel .searchText{
    width: 30px;
    height: 19px;
    line-height: 19px;
    float: left;
    font-size: 11px;
    padding: 0;
    margin-top: 6px;
}

#app.seadragon .headerPanel .total{
    float: left;
    display: block;
    height: 18px;
    line-height: 18px;
    margin: 6px 5px 0 5px;
    width: 41px;
    font-size: 11px;
    overflow: hidden;
}

#app.seadragon .centerPanel .displayregion {
    border: 2px solid #fff !important;
}