.virtex {
    background: #252424;
    background: -moz-radial-gradient(center, ellipse cover,  #252424 0%, #171717 85%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#252424), color-stop(85%,#171717));
    background: -webkit-radial-gradient(center, ellipse cover,  #252424 0%,#171717 85%);
    background: -o-radial-gradient(center, ellipse cover,  #252424 0%,#171717 85%);
    background: -ms-radial-gradient(center, ellipse cover,  #252424 0%,#171717 85%);
    background: radial-gradient(ellipse at center,  #252424 0%,#171717 85%);
}

.virtex .viewport{
    position: relative;
}

.virtex .loading {
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #171717;
}

.virtex .loading .bar {
    height: 5px;
    width: 1px;
    background-color: #fff;
}

#oldie{
    position: absolute;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    font-family: sans-serif !important;
    line-height: 18px !important;
}