{
    "options":
    {
        "sectionMappings":
        {
            "CoverFrontOutside": "Front Cover",
            "CoverBackOutside": "Back Cover",
            "TitlePage": "Title Page",
            "TableOfContents": "Table of Contents",
            "PartOfWork": "Part of Work"
        }
    },
    "modules":
    {
        "genericDialogue":
        {
            "content":
            {
                "emptyValue": "please enter a value",
                "pageNotFound": "page not found",
                "ok": "OK",
                "refresh": "Refresh",
                "invalidNumber": "Please enter a valid number",
                "pageNotFound": "This item does not contain a page with the number you entered. Try switching the numbering mode to 'image'"
            }
        },
        "helpDialogue":
        {
            "content":
            {
                "title": "Help",
                "text": "This player has been developed to provide users with access to the all the content - books, archives, manuscripts, audio and video - the Wellcome Library has digitised. Digitisation is an ongoing activity, and more content will be made available gradually.<br/><br/> Access to some online content is restricted because of copyright or personal data reasons. For details see the <a href=\"/about-this-site/terms-and-conditions/\">Terms and Conditions</a>.<br/><br/>If you have any problems using the player, please email the Library's Digital Services Team at <a href=\"mailto:systemsstrategy@wellcome.ac.uk\">systemsstrategy@wellcome.ac.uk</a><br/><br/>The player software will be made available under an open source licence. Information about licensing will be posted here once this work is complete (estimated date early 2014).<br/><br/>The player was developed by <a href=\"http://www.digirati.co.uk\">Digirati</a>."
            }
        },
        "embedDialogue":
        {
            "options":
            {
                "embedTemplate": "<div class=\"wellcomePlayer\" data-uri=\"{0}\" data-assetsequenceindex=\"{1}\" data-assetindex=\"{2}\" data-zoom=\"{3}\" style=\"width:{4}px; height:{5}px; background-color: #000\"></div>\n<script type=\"text/javascript\" id=\"embedWellcomePlayer\" src=\"{6}\"></script><script type=\"text/javascript\">/* wordpress fix */</script>"
            },
            "content":
            {
                "title": "Embed",
                "instructions": "To embed this item in your own website, copy and paste the code below:"
            }
        },
        "pagingHeaderPanel":
        {
            "content":
            {
                "help": "Help",
                "image": "Image",
                "page": "Page",
                "first": "First",
                "previous": "Previous",
                "next": "Next",
                "last": "Last",
                "go": "Go",
                "of": "of {0}",
                "emptyValue": "Please enter a value",
                "close": "Close"
            }
        },
        "treeViewLeftPanel":
        {
            "options":
            {
                "thumbsLoadRange": 15,
                "thumbsImageFadeInDuration": 300,
                "panelCollapsedWidth": 30,
                "panelExpandedWidth": 255,
                "panelOpen": true,
                "panelAnimationDuration": 250
            },
            "content":
            {
                "index": "Index",
                "thumbnails": "Thumbnails"
            }
        },
        "seadragonCenterPanel":
        {
            "content":
            {
                "previous": "Previous",
                "next": "Next"
            }
        },
        "moreInfoRightPanel":
        {
            "options":
            {
                "panelCollapsedWidth": 30,
                "panelExpandedWidth": 255,
                "panelAnimationDuration": 250
            },
            "content":
            {
                "holdingText": "Your module goes here!"
            }

        },
        "footerPanel":
        {
            "content":
            {
                "fullScreen": "Full Screen",
                "exitFullScreen": "Exit Full Screen",
                "embed": "Embed"
            }
        }
    }
}