.uv .thumbsView {
  padding-left: 2px;
}

[thumbnail-group] [thumbnail-item] button figure > div {
  background-color: none !important;
}

[thumbnail-group] [thumbnail-item] button figure figcaption {
  padding: 0.2rem;
  text-align: left;
}

[thumbnail-group][data-selected="true"] [thumbnail-item] {
  outline: none;
}

[thumbnail-group][data-selected="true"] [thumbnail-item] button {
  outline: 2px solid white;
}
